html {
    background: rgba(20, 20, 20, 0.2) !important;
}

body {
    background: transparent !important;
}

/* /* Everything else fully opaque */ */
/* body * { */
/*     background-color: rgba(0, 0, 0, 1) !important; */
/* } */
