asm-lsp
autostart
cabal
cargo
dconf
gnupg
go
gtk-3.0
htop
icedtea-web
ipython
java
jupyter
matplotlib
maven
mozilla
npm
observer
openjfx
pki
procps
pulse
sc-im
sddm.conf.d
stack
texlive
udiskie
uwsm
vim
wal
yay
obsidian
