asm-lsp
autostart
cabal
cargo
dconf
gnupg
go
gtk-3.0
htop
icedtea-web
ipython
java
jupyter
matplotlib
maven
mozilla
npm
observer
openjfx
pki
procps
pulse
sc-im
sddm.conf.d
stack
texlive
udiskie
uwsm
vim
wal
yay
obsidian
discord
eas-cli-nodejs
tidal-hifi
trizen
.zcompdump
histfile
hypr
m2
anydesk
nvm
glow
hypr
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/autoconfig.yml
qutebrowser/greasemonkey
lazygit
user-dirs.dirs
user-dirs.locale
waybar
wget-hsts
lazy-lock.json
libreoffice
GIMP
qBittorrent
ghcup
